<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Admin - Dashboard</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" th:href="@{img/itransition.jpg}" type="image/png"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <!-- site css -->
    <link rel="stylesheet" th:href="@{css/custom_style.css}"/>
    <!-- responsive css -->
    <link rel="stylesheet" th:href="@{css/responsive.css}"/>
    <!-- color css -->
    <!--    <link rel="stylesheet" th:href="@{css/colors.css}" />-->
    <!-- select bootstrap -->
    <link rel="stylesheet" th:href="@{css/bootstrap-select.css}"/>
    <!-- scrollbar css -->
    <link rel="stylesheet" th:href="@{css/perfect-scrollbar.css}"/>
    <!-- custom css -->
    <link rel="stylesheet" th:href="@{css/custom.css}"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <!-- wow animation -->
    <script th:src="@{js/animate.js}"></script>
    <!-- select country -->
    <script th:src="@{js/bootstrap-select.js}"></script>
    <!-- owl carousel -->
    <script th:src="@{js/owl.carousel.js}"></script>
    <!-- nice scrollbar -->
    <script th:src="@{js/perfect-scrollbar.min.js}"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script th:src="@{js/custom.js}"></script>
    <!-- <script src="js/chart_custom_style1.js"></script> -->
    <![endif]-->
</head>
<body class="dashboard dashboard_1">
<div class="full_container">
    <div class="inner_container">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar_blog_1">
                <div class="sidebar-header">
                    <div class="logo_section">
                        <a href="#"><img class="logo_icon img-responsive" src="/img/itransition.jpg" alt="/admin_panel"/></a>
                    </div>
                </div>
                <div class="sidebar_user_info">
                    <div class="icon_setting"></div>
                    <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="/img/user_img.jpg" alt="#"/></div>
                        <div class="user_info">
                            <h6><label th:text="${username}"/></h6>
                            <p><span class="online_animation"></span> Online</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar_blog_2">
                <h4>General</h4>
                <ul class="list-unstyled components">
                    <li><a th:href="@{/list_users}"><i class="fa fa-users" aria-hidden="true"></i> <span>Users</span></a></li>
                    <li><a th:href="@{/topic_settings}"><i class="fa fa-list"></i> <span>Topics</span></a></li>
                    <li><a th:href="@{/collection_settings}"><i class="fa fa-outdent"></i> <span>Collections</span></a></li>
                    <li><a th:href="@{/item_settings}"><i class="fa fa-align-left" aria-hidden="true"></i> <span>Items</span></a></li>
                    <li><a th:href="@{/tag_settings}"><i class="fa fa-slack" aria-hidden="true"></i> <span>Tags</span></a></li>
                    <li><a th:href="@{/user_profil}"><i class="fa fa-user" aria-hidden="true"></i> <span>My Profile</span></a></li>
                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> <span>Home</span></a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> <span th:text="#{sign_out}">Log Out</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- end sidebar -->
        <!-- right content -->
        <div id="content">
            <!-- topbar -->
            <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i>
                        </button>
                        <div class="right_topbar">
                            <div class="icon_info">
                                <ul class="user_profile_dd">
                                    <li>
                                        <a class="dropdown-toggle" data-toggle="dropdown"><img
                                                class="img-responsive rounded-circle" src="/img/user_img.jpg"
                                                alt="#"/><span class="name_user" th:text="${username}"></span></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/user_profil">My Profile</a>
                                            <a class="dropdown-item" href="/">Home</a>
                                            <a class="dropdown-item" href="/logout"><span>Log Out</span> <i
                                                    class="fa fa-sign-out"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2>Dashboard</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row column1">
                        <div class="col-md-6 col-lg-3">
                            <div class="full counter_section margin_bottom_30">
                                <a href="#">
                                    <div class="couter_icon">
                                        <div>
                                            <i class="fa fa-user yellow_color"></i>
                                        </div>
                                    </div>
                                    <div class="counter_no">
                                        <div>
                                            <p class="total_no">2500</p>
                                            <p class="head_couter">Topics</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="full counter_section margin_bottom_30">
                                <a href="#">
                                    <div class="couter_icon">
                                        <div>
                                            <i class="fa fa-clock-o blue1_color"></i>
                                        </div>
                                    </div>
                                    <div class="counter_no">
                                        <div>
                                            <p class="total_no">123.50</p>
                                            <p class="head_couter">Colections</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="full counter_section margin_bottom_30">
                                <a href="#">
                                    <div class="couter_icon">
                                        <div>
                                            <i class="fa fa-cloud-download green_color"></i>
                                        </div>
                                    </div>
                                    <div class="counter_no">
                                        <div>
                                            <p class="total_no">1,805</p>
                                            <p class="head_couter">Items</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="full counter_section margin_bottom_30">
                                <a href="#">
                                    <div class="couter_icon">
                                        <div>
                                            <i class="fa fa-comments-o red_color"></i>
                                        </div>
                                    </div>
                                    <div class="counter_no">
                                        <div>
                                            <p class="total_no">54</p>
                                            <p class="head_couter">Comments</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- footer -->
                    <div class="container-fluid">
                        <div class="footer">
                            <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                                Distributed By: <a href="#">ThemeWagon</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>
</div>
</body>
</html>