<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Itransition - Course work</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgpEB0pwwB8BKgqs5msjHFdboMiy8LCFKKlQ&usqp=CAU">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/cards.css">
  <!--    <link rel="stylesheet" href="css/dark-mode.css">-->
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://bootstraptema.ru/plugins/2015/tagcanvas/jquery.tagcanvas.min.js" type="text/javascript"></script>
  <script
          nomodule>window.MSInputMethodContext && document.documentMode && document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-ie11@5/css/bootstrap-ie11.min.css">' +
          '<script src="https://cdn.jsdelivr.net/npm/ie11-custom-properties@4/ie11CustomProperties.min.js"><\/script>');</script>
  <link rel="stylesheet" href="/css/custom.css">
  <script type="text/javascript" src="/js/custom.js"></script>
</head>
<body>
<div class="ie-panel"><a href="#"><img src="/img/logo.jpg" height="42" width="820"
                                       alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
</div>
<div class="preloader">
  <div class="preloader-body">
    <div class="cssload-container">
      <div class="cssload-speeding-wheel"></div>
    </div>
    <p>Loading...</p>
  </div>
</div>
<div class="page">
  <header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
           data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
           data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static"
           data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
           data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px"
           data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
        <div class="rd-navbar-main-outer">
          <div class="rd-navbar-main">
            <!--RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!--RD Navbar Toggle-->
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
              </button>
              <!--RD Navbar Brand-->
              <div class="rd-navbar-brand">
                <!--Brand-->
                <a class="brand" href="/home">
                  <img class="brand-logo-dark" src="/img/logo.jpg" alt="" width="50" height="30"/>
                  <img class="brand-logo-light" src="/img/logo.jpg" alt="" width="50" height="30"/></a>
              </div>
            </div>
            <div class="rd-navbar-main-element">
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav" th:if="${sign == false}">
                  <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/login}" th:text="#{sign_in}">Sign in</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/register}" th:text="#{sign_up}">Sign up</a>
                  </li>
                  <li class="rd-nav-item">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switchDark" onclick="switcher()">
                      <label class="custom-control-label" for="switchDark" th:text="#{dark_mode}"></label>
                    </div>
                  </li>
                </ul>
                <ul class="rd-navbar-nav" th:if="${sign == true}">
                  <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/user_profil}" rel="nofollow"><b>[[${#request.userPrincipal.principal.fullName}]]</b></a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" th:if="${role == 'ADMIN'}" th:href="@{/admin_panel}" rel="nofollow" th:text="#{admin_panel}">Admin-Panel</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/logout}" rel="nofollow" th:text="#{sign_out}">Logout</a>
                  </li>
                  <li class="rd-nav-item">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switchDark1">
                      <label class="custom-control-label" for="switchDark" th:text="#{dark_mode}"></label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="section">
    <label th:text="${collection_id}" hidden id="collection_id"></label>
    <label th:text="#{collection}" hidden id="collectionTxt"></label>
    <label th:text="#{details}" hidden id="detailsTxt"></label>
    <label th:text="#{topic}" hidden id="topicTxt"></label>
    <label th:text="#{comments}" hidden id="commentsTxt"></label>
    <div class="section">
      <div class="text-center">
        <h3 class="title" th:text="#{collection}">Collection</h3>
        <section class="section mt-5">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <img th:alt="${collection_name}" class="img-fluid" style="width: 500px; height: 300px"
                       th:src="${image_url}" />
                </div>
              </div>
              <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
                <div style="text-align: left;">
                  <h2 style="text-align: left;" th:text="${collection_name}"></h2>
                  <h6 style="text-align: left;">
                    <label th:text="#{author}"></label>:
                    <label th:text="${author_name}"></label>
                  </h6>
                  <label th:text="#{descriptions}"></label>:
                  <p style="text-align: left; width: 80%;" class="margin-top-s" th:text="${descriptions}"></p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="section" id="myItemCarousel" style="padding-top: 10px;">
      <div class="text-center">
        <h3 class="title" th:text="#{items}">Items</h3>
      </div>
    </div>
  </div>
  <footer class="section footer-classic context-dark">
    <div class="container wide">
      <div class="row row-sm-30">
        <div class="col-lg-6">
          <div class="group-md group-middle">
            <p class="rights"><span>&copy;&nbsp; </span><span
                    class="copyright-year"></span><span>&nbsp;</span><span>Yuldoshev</span><span>.&nbsp;</span></p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-lg-right">
            <ul class="group-xl group-middle">
              <li><a class="icon icon-default icon-sm mdi mdi-rss" href="#"></a></li>
              <li><a class="icon icon-default icon-sm mdi mdi-twitter" href="#"></a></li>
              <li><a class="icon icon-default icon-sm mdi mdi-facebook" href="#"></a></li>
              <li><a class="icon icon-default icon-sm mdi mdi-linkedin-box" href="https://www.linkedin.com/in/abbos-yuldoshev-a9b7bb196/"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
</body>
</html>
<script>

  var collectionId = document.getElementById('collection_id').textContent;
  var txtCollection = document.getElementById('collectionTxt').textContent;
  var txtDetails = document.getElementById('detailsTxt').textContent;
  var txtTopic = document.getElementById('topicTxt').textContent;
  var txtComments = document.getElementById('commentsTxt').textContent;


  $(document).ready(function (){
    $.ajax({
      url: "/get_items",
      type: "POST",
      data: 'collection_id=' + collectionId,
      success: function (response){
        appendItem(response);
      },
      error: function (error){
        console.log("error: " + error);
      }
    });

    var tagString = '<script async type=\"text/javascript\" src=\"/js/script.js\"><\/script>';
    var range = document.createRange();
    range.selectNode(document.getElementsByTagName("BODY")[0]);
    var documentFragment = range.createContextualFragment(tagString);
    document.body.appendChild(documentFragment);
  });
</script>
<script src="/js/core.min.js"></script>
<script src="/js/script.js"></script>



