<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Admin - Dashboard</title>
  <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgpEB0pwwB8BKgqs5msjHFdboMiy8LCFKKlQ&usqp=CAU">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- site icon -->
  <link rel="icon" th:href="@{img/logo.jpg}" type="image/png"/>
  <!-- bootstrap css -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
  <!-- site css -->
  <link rel="stylesheet" th:href="@{css/custom_style.css}"/>
  <!-- responsive css -->
  <link rel="stylesheet" th:href="@{css/responsive.css}"/>
  <link rel="stylesheet" th:href="@{css/perfect-scrollbar.css}"/>
  <!-- custom css -->
  <link rel="stylesheet" th:href="@{css/custom.css}"/>
  <link th:href="@{/css/toast.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap-select.min.js}"></script>
  <script th:src="@{js/animate.js}"></script>
  <script th:src="@{js/owl.carousel.js}"></script>
  <script th:src="@{js/custom.js}"></script>
  <script type="text/javascript" th:src="@{/js/toast.min.js}"></script>
</head>
<body class="dashboard dashboard_1">
<div class="full_container">
  <div class="inner_container">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar_blog_1">
        <div class="sidebar-header">
          <div class="logo_section">
            <a href="#"><img class="logo_icon img-responsive" src="/img/logo.jpg" alt="/admin_panel"/></a>
          </div>
        </div>
        <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side">
            <div class="user_img"><img class="img-responsive" src="/img/user_img.jpg" alt="#"/></div>
            <div class="user_info">
              <h6><label th:text="${username}"/></h6>
              <p><span class="online_animation"></span> Online</p>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
          <li><a th:href="@{/list_users}"><i class="fa fa-users" aria-hidden="true"></i> <span>Users</span></a></li>
          <li><a th:href="@{/topic_settings}"><i class="fa fa-list"></i> <span>Topics</span></a></li>
          <li><a th:href="@{/collection_settings}"><i class="fa fa-outdent"></i> <span>Collections</span></a></li>
          <li><a th:href="@{/item_settings}"><i class="fa fa-align-left" aria-hidden="true"></i> <span>Items</span></a></li>
          <li><a th:href="@{/tag_settings}"><i class="fa fa-slack" aria-hidden="true"></i> <span>Tags</span></a></li>
          <li><a th:href="@{/user_profil}"><i class="fa fa-user" aria-hidden="true"></i> <span>My Profile</span></a></li>
          <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> <span>Home</span></a></li>
          <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> <span th:text="#{sign_out}">Log Out</span></a></li>
        </ul>
      </div>
    </nav>
    <!-- end sidebar -->
    <!-- right content -->
    <div id="content">
      <!-- topbar -->
      <div class="topbar">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="full">
            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i>
            </button>
            <div class="right_topbar">
              <div class="icon_info">
                <ul class="user_profile_dd">
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown"><img
                            class="img-responsive rounded-circle" src="/img/user_img.jpg"
                            alt="#"/><span class="name_user" th:text="${username}"></span></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/user_profil">My Profile</a>
                      <a class="dropdown-item" href="/">Home</a>
                      <a class="dropdown-item" href="/logout"><span>Log Out</span> <i
                              class="fa fa-sign-out"></i></a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!-- end topbar -->
      <!-- dashboard inner -->
      <div class="midde_cont">
        <div class="container-fluid">
          <div class="row column_title">
            <div class="col-md-12">
              <div class="page_title">
                <div class="row">
                  <div class="col-md-10">
                    <h2>Collections</h2>Settings
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModel" onclick="clearDiv()">
                      <i class="fa fa-plus" aria-hidden="true"></i> Add a new Collection</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100 px-2">
            <h1 class="mb-0 h4 text-center">List of All Collections</b></h1>
            <div class="container">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-12">
                  <!--Section: Post data-mdb-->
                  <section class="border-bottom mb-8 text-center">
                    <div class="tableFixHead">
                      <table class="table table-fixed table-bordered" id="myTable">
                        <thead>
                        <tr>
                          <th style="width: 2%";><input type="checkbox" name="select-all" id="select-all" /></th>
                          <th style="width: 5%;">ID</th>
                          <th style="width: 25%;">Name</th>
                          <th style="width: 20%;">Topic</th>
                          <th style="width: 25%;">Author</th>
                          <th style="width: 8%;">Status</th>
                          <th style="width: 15%;">Action</th>
                        </tr>
                        </thead>
                        <tbody id="bodyTable">
                        <tr th:each="collection : ${listCollections}">
                          <td><input type="checkbox" name="checkedIds" th:value="${collection.id}"></td>
                          <td th:text="${collection.id}"></td>
                          <td style="text-align: left" th:text="${collection.name}"></td>
                          <td style="text-align: left" th:text="${collection.topics.name}"></td>
                          <td style="text-align: left" th:text="${collection.user.fullName}"></td>
                          <td th:text="${collection.status}"></td>
                          <td>
                            <button class="btn btn-primary editBtn" th:onclick="showEditModal([[${collection.id}]],[[${collection.name}]])"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <span th:switch="${collection.status}">
                                      <button th:case="true" th:onclick="'setBlockCollectionStatus(' + ${collection.id} + ',false)'" class="btn btn-success"><i class="fa fa-unlock"></i></button>
                                      <button th:case="false" th:onclick="'setBlockCollectionStatus(' + ${collection.id}+ ',true)'" class="btn btn-secondary"><i class="fa fa-lock"></i></button>
                                    </span>
                            <button class="btn btn-danger" th:onclick="'deleteCollection(' + ${collection.id}+ ')'"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <button class="btn btn-primary" id="block" onclick="setBlockTopicStatus(false)">Block</button>
                    <button class="btn btn-secondary" id="unblock" onclick="setBlockCollectionStatus(true)">Unblock</button>
                    <button class="btn btn-danger" id="delete" onclick="deleteCollection()">Delete</button>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <!-- footer -->
          <div class="container-fluid">
            <div class="footer">
              <p>Copyright © 2022 Designed by Abbos Yuldoshev. All rights reserved.<br><br>
              </p>
            </div>
          </div>
        </div>
        <!-- end dashboard inner -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModel" name="myModel" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom">
      <form id="saveCollection" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title" id="myModelLabel">Add a new Topic</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label" for="topicId">Select Topic</label>
            <select class="form-control selectpicker" id="topicId" name="topicId" data-live-search="true" required>
              <option th:each="topic : ${listTopics}" th:value="${topic.id}" th:text="${topic.name}"> </option>
            </select>
          </div>
          <div class="form-group col-md-12">
            <label for="collection_name">Collection name</label>
            <input class="form-control" type="text" name="collection_name" id="collection_name" placeholder="Enter a Collection name">
          </div>
          <div class="col-md-12">
            <label for="image">Collection image</label>
            <input class="form-control" type="file" id="image" name="image" placeholder="Topic image file">
          </div>
          <div>
            <button class="btn btn-primary add_field_button">Add Columns</button>
            <div class="input_fields_wrap" id="input_fields_wrap">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade editModel" id="editModel" name="editModel" tabindex="1" role="dialog" aria-labelledby="editModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="editCollection" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title" id="editModelLabel">Edit Topic</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <input class="form-control" type="number" id="id" name="id" hidden>
            <label for="collection_name">Collection name</label>
            <input class="form-control" type="text" name="edit_name" id="edit_name" placeholder="Enter a Collection name">
          </div>
          <div class="col-md-12">
            <label for="image">Collection image</label>
            <input class="form-control" type="file" id="edit_image" name="edit_image" placeholder="Topic image file">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="editModel">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
<script>
  $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
        $(wrapper).append('' +
                '<div class="input-group-append" id="myDiv">' +
                '<div class="row">' +
                '<div class="col-1">' +
                '<label class="form-label" for="topicId">Type</label>' +
                '</div>' +
                '<div class="col-4">' +
                '<select class="form-control" name="typeId" id="typeID">\n' +
                '      <option value="1">Text</option>\n' +
                '      <option value="2">Date</option>\n' +
                '      <option value="3">Text Area</option>\n' +
                '      <option value="4">Number</option>\n' +
                '      <option value="5">Checkbox</option>\n' +
                '</select>' +
                '</div>' +
                '<div class="col-1">' +
                '<label class="form-label" for="topicId">Name</label>' +
                '</div>' +
                '<div class="col-4">' +
                '<input placeholder="Column Name" type="text" name="columnName" class="form-control">' +
                '</div>' +
                '<div class="col-2">' +
                '<button class="btn btn-outline-danger remove_field" type="button">Remove</button>' +
                '</div>' +
                '</div>' +
                '</div>');
      }
      x++; //text box increment
    });
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
      e.preventDefault(); $(this).parent('div').parent('div').remove(); x--;
    })
  });
  $('#select-all').click(function(event) {
    if(this.checked) {
      $(':checkbox').each(function() {
        if(!this.disabled){
          this.checked = true;
        }
      });
    } else {
      $(':checkbox').each(function() {
        if(!this.disabled){
          this.checked = false;
        }
      });
    }
  });
  function showEditModal(id,name){
    $('#id').val(id);
    $('#edit_name').val(name);
    $("#editModel").modal("show");
  }
  function clearDiv(){
   $("#input_fields_wrap").empty();
 }
  $("#saveCollection").on("submit", function(e) {
    $("#myModel").modal("hide");
    e.preventDefault();
    var formData = new FormData(this);
    $.ajax({
      type:"POST",
      url:"add_collection",
      data:formData,
      cache:false,
      dataType:"json",
      contentType:false,
      processData:false,
      success:function(response) {
        appendRows(response);
        showToast('Collection is saved !!!');
      },
      error: function (error){
        console.log("error: " + error)
      }
    });
  });
  $("#editCollection").on("submit", function(e) {
    $("#editModel").modal("hide");
    e.preventDefault();
    var formData = new FormData(this);
    $.ajax({
      type:"POST",
      url:"edit_collection",
      data:formData,
      cache:false,
      dataType:"json",
      contentType:false,
      processData:false,
      success:function(response) {
        appendRows(response);
        showToast('Collection status is updated !!!');
      },
      error: function (error){
        console.log("error: " + error)
      }
    });
  });
  function deleteCollection(id){
    var checkedValues = [];
    $.each($("input[name='checkedIds']:checked"), function(){
      checkedValues.push($(this).val());
    });
    if(id>0){
      checkedValues.push(id)
    }

    var data = 'id=' + checkedValues;
    $.ajax({
      url:"/delete_collection",
      type: "POST",
      data: data,
      success: function (response){
        if(response == 'login'){
          window.location.href = "/login";
        } else {
          appendRows(response);
          showToast('Collection is deleted !!!');
        }
      },
      error: function (error){
        console.log("error: " + JSON.stringify(error));
      }
    })
  }
  function setBlockCollectionStatus(id,status){
    var checkedValues = [];
    $.each($("input[name='checkedIds']:checked"), function(){
      checkedValues.push($(this).val());
    });
    if(id>0){
      checkedValues.push(id);
    }

    var data = 'id=' + checkedValues + "&flag=" + status;
    $.ajax({
      url:"/status_collection",
      type: "POST",
      data: data,
      success: function (response){
        if(response == 'login'){
          window.location.href = "/login";
        } else {
          appendRows(response);
          // $("#myTable > tbody").html("");
          // $('#select-all').prop('checked', false);
          // for(var i=0;i<response.length;i++){
          //   $('#myTable tbody').append('<tr>' +
          //           '<td><input type="checkbox" name="checkedIds" value="'+ response[i].id +'"></td>' +
          //           '<td>' + response[i].id +  '</td>' +
          //           '<td>' + response[i].name +  '</td>' +
          //           '<td>' + response[i].topics.name +  '</td>' +
          //           '<td>' + response[i].user.firstName + ' ' + response[i].user.lastName +  '</td>' +
          //           '<td>' + response[i].status + '</td>' +
          //           '<td></td>' +
          //           '</tr>');
          // }

          showToast('Collection is updated !!!');

        }
      },
      error: function (error){
        console.log("error: " + JSON.stringify(error));
      }
    })
  }
  function appendRows(response){
    $("#myTable > tbody").html("");
    $('#select-all').prop('checked', false);
    for(var i=0;i<response.length;i++){
      let name = response[i].name;
      var rowTxt = response[i].status? '<button th:case="true" class="btn btn-success" onclick="setBlockCollectionStatus('+ response[i].id + ',false)">' +
              '<i class="fa fa-unlock"></i></button>' :
              '<button th:case="false" class="btn btn-secondary" onclick="setBlockCollectionStatus(' + response[i].id + ',true)">' +
              '<i class="fa fa-lock"></i></button>';
      $('#myTable tbody').append('<tr>' +
              '<td><input type="checkbox" name="checkedIds" value="'+ response[i].id +'"></td>' +
              '<td>' + response[i].id +  '</td>' +
              '<td style="text-align: left">' + response[i].name +  '</td>' +
              '<td style="text-align: left">' + response[i].topics.name +  '</td>' +
              '<td style="text-align: left">' + response[i].user.firstName + ' ' + response[i].user.lastName +  '</td>' +
              '<td>' + response[i].status + '</td>' +
              '<td>' +
              '<button class="btn btn-primary" onclick="showEditModal(' + response[i].id + ',\'' + name + '\')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>' +
              '<span></span>' +
              rowTxt +
              '<button class="btn btn-danger" onclick="deleteCollection(' + response[i].id + ')"><i class="fa fa-trash-o" aria-hidden="true"></i></button>' +
              '</td>' +
              '</tr>');
    }
  }
  function showToast(msg){
    new Toast({
      title: 'Message',
      text: msg,
      theme: 'light',
      autohide: true,
      interval: 10000
    });
  }
</script>
<style>
  .tableFixHead {
    overflow: auto;
    height: 60vh;
  }

  .tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  /* Just common table stuff. Really. */
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 8px 16px;
  }

  th {
    background: #eee;
  }

  .modal-content {
    min-height: 300px;
  }

  /*.bootstrap-select .dropdown-menu {*/
  /*  position: relative!important;*/
  /*  margin-top: -30px;*/
  /*}*/

  .custom {
    width: 600px;
    min-height: 400px;
  }
</style>