<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Itransition - Course work</title>
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgpEB0pwwB8BKgqs5msjHFdboMiy8LCFKKlQ&usqp=CAU">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/cards.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgpEB0pwwB8BKgqs5msjHFdboMiy8LCFKKlQ&usqp=CAU" width="40" height="40" alt="" style="padding-right: 3px" class="d-inline-block align-top" />Itransition</a>
    <button type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/list_users}">User list</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/user_profil}" rel="nofollow"><b>[[${#request.userPrincipal.principal.fullName}]]</b></a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin_panel}" rel="nofollow">Admin-Panel</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}" rel="nofollow">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Last <b>Items</b></h2>
            <!--                data-interval="3000"-->
            <div id="myCarousel" class="carousel slide z-depth-1-half" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner" id="myItemCarousel">
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $( document ).ready(function() {
        $.ajax({
           url: "/get_items",
           type: "POST",
           data: '',
           success: function (response){
               console.log("response: " + JSON.stringify(response));
               var divTxt = ''
               var rowTxt = ''
               var endFlag = 0;
               var activeFlag = 0;
               for (var i=0;i<response.length; i++){
                   endFlag = 0;
                   var colDiv = '';
                   var tagDiv = 'Tags: ';
                   if(response[i].json[0].json.columns != null)
                       response[i].json[0].json.columns.forEach(function(col){
                           colDiv +=
                           col.name + ': <span>' + col.data + '</span><br>';
                       });
                   if(response[i].json[0].json.tags != null)
                       response[i].json[0].json.tags.forEach(function(tag){
                           tagDiv += '<a href="#"> #<span style="color: #00aced">' + tag.name + '</span> </a>';
                       });

                   rowTxt +=
                       '<div class="col-sm-3">' +
                       '<div class="thumb-wrapper">' +
                       '<div class="img-box">' +
                       '<img style="height: 180px; width: 250px;" src="' + response[i].json[0].image_url + '" class="img-fluid" alt="">' +
                       '</div>' +
                       '<div class="thumb-content">' +
                       '<h4>' + response[i].json[0].name + '</h4>' +
                       '<div style="text-align: left;"> Collection: <a href="#">' + response[i].json[0].collection_name + '</a></div>' +
                       '<p class="item-price">' + colDiv + tagDiv +
                       '<br>Comments: <span style="color: #4de17c"> <a href="#">' + response[i].json[0].comment_count + '</a></span>' +
                       '</p>' +
                       '<div class="star-rating">' +
                       '<ul class="list-inline">' +
                       '<li class="list-inline-item"><i class="fa fa-star"></i></li>' +
                       '<li class="list-inline-item"><i class="fa fa-star"></i></li>' +
                       '<li class="list-inline-item"><i class="fa fa-star"></i></li>' +
                       '<li class="list-inline-item"><i class="fa fa-star"></i></li>' +
                       '<li class="list-inline-item"><i class="fa fa-star-o"></i></li>' +
                       '</ul>' +
                       '</div>' +
                       '<a href="#" class="btn btn-primary">Details</a>' +
                       '</div>' +
                       '</div>' +
                       '</div>';
                   if((i+1) % 4 == 0 && i > 0){
                       if(i==3){
                           divTxt = '<div class="carousel-item active">';
                           activeFlag =1;
                       } else {
                           divTxt = '<div class="carousel-item">'
                       }
                       divTxt += '<div class="row"> ' + rowTxt + '</div></div>';
                       $('#myItemCarousel').append(divTxt);
                       divTxt='';
                       rowTxt='';
                       endFlag = 1;
                   }
               }
               if(endFlag == 0){
                   divTxt = activeFlag?'<div class="carousel-item">':'<div class="carousel-item active">';
                   divTxt += '<div class="row"> ' + rowTxt + '</div></div>';
                   $('#myItemCarousel').append(divTxt);
               }
           },
            error: function (error){
                console.log("error: " + error);
            }
        });
    });
</script>
<style>

</style>
