<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Admin - Dashboard</title>
  <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgpEB0pwwB8BKgqs5msjHFdboMiy8LCFKKlQ&usqp=CAU">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- site icon -->
  <link rel="icon" th:href="@{img/itransition.jpg}" type="image/png"/>
  <!-- bootstrap css -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
  <!-- site css -->
  <link rel="stylesheet" th:href="@{css/style.css}"/>
  <!-- responsive css -->
  <link rel="stylesheet" th:href="@{css/responsive.css}"/>
  <link rel="stylesheet" th:href="@{css/perfect-scrollbar.css}"/>
  <!-- custom css -->
  <link rel="stylesheet" th:href="@{css/custom.css}"/>
  <link rel="stylesheet" th:href="@{css/tags-standalone.css}"/>
  <link th:href="@{/css/toast.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap-select.min.js}"></script>
  <script th:src="@{js/animate.js}"></script>
  <script th:src="@{js/owl.carousel.js}"></script>
  <script th:src="@{js/custom.js}"></script>
  <script type="text/javascript" th:src="@{/js/toast.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/tags.js}"></script>
</head>
<body class="dashboard dashboard_1">
<div class="full_container">
  <div class="inner_container">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar_blog_1">
        <div class="sidebar-header">
          <div class="logo_section">
            <a href="#"><img class="logo_icon img-responsive" src="/img/itransition.jpg" alt="/admin_panel"/></a>
          </div>
        </div>
        <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side">
            <div class="user_img"><img class="img-responsive" src="/img/user_img.jpg" alt="#"/></div>
            <div class="user_info">
              <h6><label th:text="${username}"/></h6>
              <p><span class="online_animation"></span> Online</p>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
          <li><a th:href="@{/list_users}"><i class="fa fa-users" aria-hidden="true"></i> <span>Users</span></a></li>
          <li><a th:href="@{/topic_settings}"><i class="fa fa-list"></i> <span>Topics</span></a></li>
          <li><a th:href="@{/collection_settings}"><i class="fa fa-outdent"></i> <span>Collections</span></a></li>
          <li><a th:href="@{/item_settings}"><i class="fa fa-align-left" aria-hidden="true"></i> <span>Items</span></a></li>
          <li><a th:href="@{/tag_settings}"><i class="fa fa-slack" aria-hidden="true"></i> <span>Tags</span></a></li>
        </ul>
      </div>
    </nav>
    <!-- end sidebar -->
    <!-- right content -->
    <div id="content">
      <!-- topbar -->
      <div class="topbar">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="full">
            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i>
            </button>
            <div class="right_topbar">
              <div class="icon_info">
                <ul class="user_profile_dd">
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown"><img
                            class="img-responsive rounded-circle" src="/img/user_img.jpg"
                            alt="#"/><span class="name_user" th:text="${username}"></span></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/user_profil">My Profile</a>
                      <a class="dropdown-item" href="/logout"><span>Log Out</span> <i
                              class="fa fa-sign-out"></i></a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!-- end topbar -->
      <!-- dashboard inner -->
      <div class="midde_cont">
        <div class="container-fluid">
          <div class="row column_title">
            <div class="col-md-12">
              <div class="page_title">
                <div class="row">
                  <div class="col-md-10">
                    <h2>Items</h2>Settings
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModel" onclick="clearDiv()">
                      <i class="fa fa-plus" aria-hidden="true"></i> Add a new Item</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100 px-2">
            <h1 class="mb-0 h4 text-center">List of All Items</b></h1>
            <div class="container">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-12">
                  <!--Section: Post data-mdb-->
                  <section class="border-bottom mb-8 text-center">
                    <div class="tableFixHead">
                      <table class="table table-fixed" id="myTable">
                        <thead>
                        <tr>
                          <th style="width: 2%";><input type="checkbox" name="select-all" id="select-all" /></th>
                          <th style="width: 5%;">ID</th>
                          <th style="width: 25%;">Name</th>
                          <th style="width: 20%;">Collection</th>
                          <th style="width: 25%;">Author</th>
                          <th style="width: 10%;">Status</th>
                          <th style="width: 15%;">Action</th>
                        </tr>
                        </thead>
                        <tbody id="bodyTable">
                        <tr th:each="item : ${listItems}">
                          <td><input type="checkbox" name="checkedIds" th:value="${item.id}"></td>
                          <td th:text="${item.id}"></td>
                          <td style="text-align: left" th:text="${item.name}"></td>
                          <td style="text-align: left" th:text="${item.collection.name}"></td>
                          <td style="text-align: left" th:text="${item.user.fullName}"></td>
                          <td th:text="${item.status}"></td>
                          <td>
                            <button class="btn btn-primary editBtn" th:onclick="showEditModal([[${item.id}]],[[${item.name}]])"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <span th:switch="${item.status}">
                                      <button th:case="true" th:onclick="'setBlockItemStatus(' + ${item.id} + ',false)'" class="btn btn-success"><i class="fa fa-unlock"></i></button>
                                      <button th:case="false" th:onclick="'setBlockItemStatus(' + ${item.id}+ ',true)'" class="btn btn-secondary"><i class="fa fa-lock"></i></button>
                                    </span>
                            <button class="btn btn-danger" th:onclick="'deleteItem(' + ${item.id}+ ')'"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <button class="btn btn-primary" id="block" onclick="setBlockItemStatus(0,false)">Block</button>
                    <button class="btn btn-secondary" id="unblock" onclick="setBlockItemStatus(0,true)">Unblock</button>
                    <button class="btn btn-danger" id="delete" onclick="deleteItem()">Delete</button>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <!-- footer -->
          <div class="container-fluid">
            <div class="footer">
              <p>Copyright © 2022 Designed by Abbos Yuldoshev. All rights reserved.<br><br>
              </p>
            </div>
          </div>
        </div>
        <!-- end dashboard inner -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModel" name="myModel" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom">
      <div class="modal-header">
        <h5 class="modal-title" id="myModelLabel">Add a new Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-label" for="collectionId">Collections</label>
          <select class="form-control selectpicker" id="collectionId" name="collectionId" data-live-search="true" onchange="getCollectionColumns(this)" required>
            <option value="-1" text="Select collection"> </option>
            <option th:each="collection : ${listCollections}" th:value="${collection.id}" th:text="${collection.name}"> </option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <label class="form-label" for="item_name">Item Name</label>
          <input class="form-control" type="text" id="item_name" placeholder="Enter a Item name">
        </div>
        <div class="form-group col-md-12">
          <label class="form-label" for="input_fields_wrap">Columns fields</label>
          <div class="input_fields_wrap" id="input_fields_wrap">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="form-label" for="tags">Tags</label>
          <select class="form-select" id="tags" multiple data-allow-new="true" data-clear-label="Clear">
            <option th:each="tag : ${listTags}" th:value="${tag.id}" th:text="${tag.name}"> </option>
          </select>
          <div class="invalid-feedback">Please select a valid tag.</div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="addItem()" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade editModel" id="editModel" name="editModel" tabindex="1" role="dialog" aria-labelledby="editModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModelLabel">Edit Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <input class="form-control" type="number" id="id" hidden>
          <input class="form-control" type="text" id="edit_name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="editItem()" class="btn btn-primary" data-dismiss="editModel">Save</button>
      </div>

    </div>
  </div>
</div>
</body>
</html>
<script>
  $( document ).ready(function() {
    Tags.init("select[multiple]");
  });
  $('#select-all').click(function(event) {
    if(this.checked) {
      $(':checkbox').each(function() {
        if(!this.disabled){
          this.checked = true;
        }
      });
    } else {
      $(':checkbox').each(function() {
        if(!this.disabled){
          this.checked = false;
        }
      });
    }
  });
  function clearDiv(){
    $("#input_fields_wrap").empty();
  }

  function showEditModal(id,name){
    console.log("name:" + name);
    $('#id').val(id);
    $('#edit_name').val(name);
    $("#editModel").modal("show");
  }
  function clearDiv(){
    $("#input_fields_wrap").empty();
  }
  function getCollectionColumns(id){
    var collectionId = $("#collectionId").val();
    console.log("id: " + id);
    console.log("topicId: " + collectionId);
    var data = 'collection_id=' + collectionId;
    $.ajax({
      url: "/get_collection_columns",
      type: "POST",
      data: data,
      success: function (response){
        var wrapper = $(".input_fields_wrap");
        clearDiv();
        for(var i=0;i<response.length;i++){
          $(wrapper).append('' +
                  '<div class="col-4">' +
                  '<label class="form-label" for="columnName" name="collectionColumnName" id="collectionColumnName">' + response[i].name + '</label>' +
                  '<input type="' + response[i].columnType.type + '" name="collectionColumn" id="collectionColumn" class="form-control collectionColumn">' +
                  '</div>');

        }
      },
      error: function (error){
        console.log("error:" + error);
      }
    })
  }
  function addItem(){
    var myModal = new bootstrap.Modal(document.getElementById("myModel"), {});
    myModal.hide();
    var collectionId = $("#collectionId").val();
    var itemName = $("#item_name").val();
    var i=0;
    var array = $("input[name='collectionColumn']").map(function() {
      return {
        label: $(this).prevAll('label:first').text(),
        val: $(this).val()
      };
    }).get();

    console.log("tags:" + $("#tags").val())


    console.log("array: "+ JSON.stringify(array));

    var data = 'itemName=' + itemName + '&collectionId='+ collectionId +
            '&collectionColumnValues=' + JSON.stringify(array) +
            '&tags='+$("#tags").val();
    $.ajax({
      url: "/add_item",
      type: "POST",
      data: data,
      success: function (response){
        if(response == 'exist'){
          new Toast({
            title: 'Message',
            text: 'Collection is already exists !!!',
            theme: 'light',
            autohide: true,
            interval: 10000
          });
        } else {
        }

      },
      error: function (error){
        console.log("error: " + JSON.stringify(error));
      }
    })

  }
  function editItem(){
    console.log("editItem");
    var data = 'id=' + $('#id').val() + "&name=" + escape($('#edit_name').val());
    console.log("editItem: " + data);
    $.ajax({
      url:"/edit_item",
      type: "POST",
      data: data,
      success: function (response){
        if(response == 'login'){
          window.location.href = "/login";
        } else {
          $("#editModel").modal("hide");
          appendRows(response);
          showToast('Topic status is updated !!!');
        }
      },
      error: function (error){
        console.log("error: " + JSON.stringify(error));
      }
    })
  }
  function deleteItem(id){
    var checkedValues = [];
    $.each($("input[name='checkedIds']:checked"), function(){
      checkedValues.push($(this).val());
    });
    if(id>0){
      checkedValues.push(id)
    }

    var data = 'id=' + checkedValues;
    $.ajax({
      url:"/delete_item",
      type: "POST",
      data: data,
      success: function (response){
        if(response == 'login'){
          window.location.href = "/login";
        } else {
          appendRows(response);
          showToast('Collection is deleted !!!');
        }
      },
      error: function (error){
        console.log("error: " + JSON.stringify(error));
      }
    })
  }
  function setBlockItemStatus(id,status){
    var checkedValues = [];
    $.each($("input[name='checkedIds']:checked"), function(){
      checkedValues.push($(this).val());
    });
    if(id>0){
      checkedValues.push(id);
    }

    var data = 'id=' + checkedValues + "&flag=" + status;
    $.ajax({
      url:"/status_item",
      type: "POST",
      data: data,
      success: function (response){
        if(response == 'login'){
          window.location.href = "/login";
        } else {
          appendRows(response);
          showToast('Collection is updated !!!');

        }
      },
      error: function (error){
        console.log("error: " + JSON.stringify(error));
      }
    })
  }
  function appendRows(response){
    $("#myTable > tbody").html("");
    $('#select-all').prop('checked', false);
    for(var i=0;i<response.length;i++){
      let name = response[i].name;
      var rowTxt = response[i].status? '<button th:case="true" class="btn btn-success" onclick="setBlockItemStatus('+ response[i].id + ',false)">' +
              '<i class="fa fa-unlock"></i></button>' :
              '<button th:case="false" class="btn btn-secondary" onclick="setBlockItemStatus(' + response[i].id + ',true)">' +
              '<i class="fa fa-lock"></i></button>';
      $('#myTable tbody').append('<tr>' +
              '<td><input type="checkbox" name="checkedIds" value="'+ response[i].id +'"></td>' +
              '<td>' + response[i].id +  '</td>' +
              '<td style="text-align: left">' + response[i].name +  '</td>' +
              '<td style="text-align: left">' + response[i].collection.name +  '</td>' +
              '<td style="text-align: left">' + response[i].user.firstName + ' ' + response[i].user.lastName +  '</td>' +
              '<td>' + response[i].status + '</td>' +
              '<td>' +
              '<button class="btn btn-primary" onclick="showEditModal(' + response[i].id + ',\'' + name + '\')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>' +
              '<span></span>' +
              rowTxt +
              '<button class="btn btn-danger" onclick="deleteItem(' + response[i].id + ')"><i class="fa fa-trash-o" aria-hidden="true"></i></button>' +
              '</td>' +
              '</tr>');
    }
  }

  function showToast(msg){
    new Toast({
      title: 'Message',
      text: msg,
      theme: 'light',
      autohide: true,
      interval: 10000
    });
  }
</script>
<style>
  .tableFixHead {
    overflow: auto;
    height: 60vh;
  }

  .tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  /* Just common table stuff. Really. */
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 8px 16px;
  }

  th {
    background: #eee;
  }

  .modal-content {
    min-height: 300px;
  }

  /*.bootstrap-select .dropdown-menu {*/
  /*  position: relative!important;*/
  /*  margin-top: -30px;*/
  /*}*/

  .custom {
    width: 600px;
    min-height: 400px;
  }
</style>