<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgpEB0pwwB8BKgqs5msjHFdboMiy8LCFKKlQ&usqp=CAU">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgpEB0pwwB8BKgqs5msjHFdboMiy8LCFKKlQ&usqp=CAU" width="40" height="40" alt="" style="padding-right: 3px" class="d-inline-block align-top" />Itransition</a>
    <button type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/register}" rel="nofollow" th:utext="#{sign_up}"></a></li>
        </ul>
        <ul class="navbar-nav">
            <a th:href="@{/login?lang=en}">En</a>
            &nbsp;|&nbsp;
            <a th:href="@{/login?lang=ru}">Ru</a>
            &nbsp;|&nbsp;
        </ul>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="w-100 px-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-md-8">
                        <div th:if="${param.error}">
                            <label th:text="${errorMsg}"></label>
                        </div>
                        <div th:if="${param.logout}">
                            You have been logged out.
                        </div>
                        <form class="bg-white  rounded-5 shadow-5-strong p-5" method="post" th:action="@{/login}">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1" th:utext="#{email}"></label>
                                <input type="email" id="form1Example1" class="form-control" name="username" placeholder="Username" style="background-color: #36181821"/>
                                <!--                        <input name="username" placeholder="Username" type="text"/>-->
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example2" th:utext="#{password}"></label>
                                <input name="password" placeholder="Password" type="password" id="form1Example2" class="form-control"  style="background-color: #36181821"/>
                                <!--                        <input name="password" placeholder="Password" type="password"/>-->
                            </div>

                            <!-- 2 column grid layout for inline styling -->
                            <div class="row mb-4">
                                <div class="col text-center">
                                    <!-- Simple link -->
                                    <!--                                    <a class="nav-link" th:href="@{/register}" rel="nofollow">Sign up</a>-->
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block" th:utext="#{sign_in}"></button>
                            <a class="btn btn-danger btn-block shadow-button"
                               href="https://accounts.google.com/o/oauth2/v2/auth?client_id=702841933577-5ngv33h99okvehq0lt35g0k06q636237.apps.googleusercontent.com&redirect_uri=http://localhost:8080/oauth2&response_type=code&scope=https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email" style="margin: 5px 5px 5px 5px">Войти с помощью Google</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('login?lang=' + selectedOption);
            }
        });
    });
</script>