<div class="carousel-item active">
    <div class="row">
        <div class="col-md-4">
            <div class="bbb_deals">
                <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>4</span></div>
                <div class="bbb_deals_title">Today's Combo Offer</div>
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img
                                src="http://res.cloudinary.com/interncloud/image/upload/v1661793013/qws2p6cbfm0r8oppb0wm.jpg"
                                alt=""></div>
                        <div class="bbb_deals_content">
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_category"><a href="#">Laptops</a></div>
                                <div class="bbb_deals_item_price_a ml-auto"><strike>₹30,000</strike></div>
                            </div>
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_name">HP Notebook</div>
                                <div class="bbb_deals_item_price ml-auto">₹25,550</div>
                            </div>
                            <div class="available">
                                <div class="available_line d-flex flex-row justify-content-start">
                                    <div class="available_title">Available: <span>6</span></div>
                                    <div class="sold_stars ml-auto"><i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                </div>
                                <div class="available_bar"><span style="width:17%"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bbb_deals">
                <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>4</span></div>
                <div class="bbb_deals_title">Today's Combo Offer</div>
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img
                                src="http://res.cloudinary.com/interncloud/image/upload/v1661792094/b6dobewmqxiiaqobiis3.jpg"
                                alt=""></div>
                        <div class="bbb_deals_content">
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_category"><a href="#">Laptops</a></div>
                                <div class="bbb_deals_item_price_a ml-auto"><strike>₹30,000</strike></div>
                            </div>
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_name">HP Notebook</div>
                                <div class="bbb_deals_item_price ml-auto">₹25,550</div>
                            </div>
                            <div class="available">
                                <div class="available_line d-flex flex-row justify-content-start">
                                    <div class="available_title">Available: <span>6</span></div>
                                    <div class="sold_stars ml-auto"><i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                </div>
                                <div class="available_bar"><span style="width:17%"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>