<nav id="sidebar" th:fragment="sidebar_menu">
  <div class="sidebar_blog_1">
    <div class="sidebar-header">
      <div class="logo_section">
        <a href="#"><img class="logo_icon img-responsive" src="/img/logo.jpg" alt="/admin_panel"/></a>
      </div>
    </div>
    <div class="sidebar_user_info">
      <div class="icon_setting"></div>
      <div class="user_profle_side">
        <div class="user_img"><img class="img-responsive" src="/img/user_img.jpg" alt="#"/></div>
        <div class="user_info">
          <h6><label th:text="${username}"/></h6>
          <p><span class="online_animation"></span> Online</p>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar_blog_2">
    <h4>General</h4>
    <ul class="list-unstyled components" th:if="${role == 'ADMIN'}">
      <li><a th:href="@{/list_users}"><i class="fa fa-users" aria-hidden="true"></i> <span th:text="#{userlist}">Users</span></a></li>
      <li><a th:href="@{/topic_settings}"><i class="fa fa-list"></i> <span th:text="#{topic}">Topics</span></a></li>
      <li><a th:href="@{/collection_settings}"><i class="fa fa-outdent"></i> <span th:text="#{collection}">Collections</span></a></li>
      <li><a th:href="@{/item_settings}"><i class="fa fa-align-left" aria-hidden="true"></i> <span th:text="#{items}">Items</span></a></li>
      <li><a th:href="@{/tag_settings}"><i class="fa fa-slack" aria-hidden="true"></i> <span th:text="#{tag}">Tags</span></a></li>
      <li><a th:href="@{/user_profil}"><i class="fa fa-user" aria-hidden="true"></i> <span th:text="#{user_profil}">My Profile</span></a></li>
      <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> <span th:text="#{home}">Home</span></a></li>
      <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> <span th:text="#{sign_out}">Log Out</span></a></li>
    </ul>
    <ul class="list-unstyled components" th:if="${role == 'USER'}">
      <li><a th:href="@{/collection_settings}"><i class="fa fa-outdent"></i> <span th:text="#{collection}">Collections</span></a></li>
      <li><a th:href="@{/item_settings}"><i class="fa fa-align-left" aria-hidden="true"></i> <span th:text="#{items}">Items</span></a></li>
      <li><a th:href="@{/user_profil}"><i class="fa fa-user" aria-hidden="true"></i> <span th:text="#{user_profil}">My Profile</span></a></li>
      <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> <span th:text="#{home}">Home</span></a></li>
      <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> <span th:text="#{sign_out}">Log Out</span></a></li>
    </ul>
  </div>
</nav>
