<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Admin - Dashboard</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" th:href="@{img/logo.jpg}" type="image/png"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <!-- site css -->
    <link rel="stylesheet" th:href="@{css/custom_style.css}"/>
    <!-- responsive css -->
    <link rel="stylesheet" th:href="@{css/responsive.css}"/>
    <!-- color css -->
    <!--    <link rel="stylesheet" th:href="@{css/colors.css}" />-->
    <!-- select bootstrap -->
    <link rel="stylesheet" th:href="@{css/bootstrap-select.css}"/>
    <!-- scrollbar css -->
    <link rel="stylesheet" th:href="@{css/perfect-scrollbar.css}"/>
    <!-- custom css -->
    <link rel="stylesheet" th:href="@{css/custom.css}"/>
    <link th:href="@{/css/toast.css}" rel="stylesheet">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <!-- wow animation -->
    <script th:src="@{js/animate.js}"></script>
    <!-- select country -->
    <script th:src="@{js/bootstrap-select.js}"></script>
    <!-- owl carousel -->
    <script th:src="@{js/owl.carousel.js}"></script>
    <!-- nice scrollbar -->
    <script th:src="@{js/perfect-scrollbar.min.js}"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script th:src="@{js/custom.js}"></script>
    <script type="text/javascript" th:src="@{/js/toast.min.js}"></script>
    <!-- <script src="js/chart_custom_style1.js"></script> -->
    <![endif]-->
</head>
<body class="dashboard dashboard_1">
<div class="full_container">
    <div class="inner_container">
        <!-- Sidebar  -->
        <nav th:replace="/sidebar_menu :: sidebar_menu"></nav>
        <!-- end sidebar -->
        <!-- right content -->
        <div id="content">
            <!-- topbar -->
            <div th:replace="/navbar_menu :: navbar_menu"></div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2 th:text="#{user_profil}">Dashboard</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row column1">
                        <div class="container rounded bg-white mt-5 mb-5">
                            <div class="row">
                                <div class="col-md-3 border-right">
                                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                        <img class="rounded-circle mt-5" width="100px" height="100px"
                                             src="/img/user_icon.svg">
                                        <span class="font-weight-bold">[[${#request.userPrincipal.principal.fullName}]]</span>
                                        <span class="text-black-50">[[${#request.userPrincipal.principal.username}]]</span>
                                        <span> </span>
                                    </div>
                                </div>
                                <div class="col-md-5 border-right">
                                    <div class="p-3 py-5">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h4 class="text-right" th:text="#{set_language}">Set Language</h4>
                                            <label hidden id="lang" th:text="${lang}"></label>
                                            <div class="row">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="lang_en" value="en" onclick="setLanguage('en')">
                                                    <label class="form-check-label" for="lang_en">EN</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="lang_ru" value="ru" onclick="setLanguage('ru')">
                                                    <label class="form-check-label" for="lang_ru">RU</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="lang_uz" value="uz" onclick="setLanguage('uz')">
                                                    <label class="form-check-label" for="lang_uz">UZ</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h4 class="text-right" th:text="#{profile_settings}">Profile Settings</h4>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-6">
                                                <label class="labels" th:utext="#{user_first_name}">Name</label>
                                                <input type="text" class="form-control" id="name" placeholder="first name" th:value="${user.firstName}" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="labels" th:utext="#{user_last_name}">Surname</label>
                                                <input type="text" class="form-control" id="surname" th:value="${user.lastName}" placeholder="surname" required>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <label class="labels" th:utext="#{phone_number}">PhoneNumber</label>
                                                <input type="text" class="form-control" id="phone_number" placeholder="enter phone number" th:value="${user.phoneNumber}"></div>
                                            <div class="col-md-12">
                                                <label class="labels" th:utext="#{address}">Address</label>
                                                <input type="text" class="form-control" id="address" placeholder="enter address" th:value="${user.address}"></div>
                                            <div class="col-md-12">
                                                <label class="labels" th:utext="#{email}">Email ID</label>
                                                <input type="text" class="form-control" id="email" placeholder="enter email id" th:value="${user.email}" required>
                                            </div>
                                        </div>
                                        <div class="mt-3 text-center">
                                            <button class="btn btn-primary profile-button" onclick="updateUser()" type="button">Save Profile</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="p-3 py-5">
                                        <div class="d-flex justify-content-between align-items-center experience">
                                            <span th:utext="#{edit_password}">Edit Password</span>
                                            <button class="btn btn-primary profile-button" onclick="updatePassword()" type="button" th:utext="#{set_password}">Save Profile</button>
                                        </div>
                                        <br>
                                        <div class="col-md-12">
                                            <label class="labels" th:utext="#{password}">Old Password</label>
                                            <input type="password" class="form-control" th:placeholder="#{password}" id="old_pass" required></div>
                                        <br>
                                        <div class="col-md-12">
                                            <label class="labels" th:utext="#{password}">Password</label>
                                            <input type="password" class="form-control" th:placeholder="#{password}" id="pass1" required></div>
                                        <br>
                                        <div class="col-md-12">
                                            <label class="labels" th:utext="#{password}">Password</label>
                                            <input type="password" class="form-control" th:placeholder="#{password}" id="pass2" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- footer -->
                    <div class="container-fluid">
                        <div class="footer">
                            <p>2022. Yuldoshev Abbos</p>
                        </div>
                    </div>
                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var lang = document.getElementById('lang').textContent;
    $(document).ready(function (){
        document.getElementById("lang_" + lang).disabled = true;
        document.getElementById("lang_" + lang).checked = true;
    });

    function setLanguage(lang){
        $.ajax({
            url: "set_lang",
            type: "POST",
            data: 'lang=' + lang,
            success: function (response){
                if(response == 'success'){
                    window.location.reload();
                }
            },
            error: function (){
                console.log("error: " + error);
            }
        });
    }
    function updatePassword(){
        var data =
            'old_pass=' + $("#old_pass").val() +
            '&pass1=' + $("#pass1").val() +
            '&pass2=' + $("#pass2").val();
        $.ajax({
            url: "update_pass",
            type: "POST",
            data: data,
            success: function (response){
                if(response == 'success'){
                    new Toast({
                        title: 'Message',
                        text: 'Successfully saved',
                        theme: 'light',
                        autohide: true,
                        interval: 10000
                    });
                } else {
                    new Toast({
                        title: 'Message',
                        text: 'Not saved',
                        theme: 'light',
                        autohide: true,
                        interval: 10000
                    });
                }
            },
            error:function (error){
                console.log("error: " + error);
            }
        })

    }
    function updateUser(){
        var data =
            'user_name=' + $("#name").val() +
            '&surname=' + $("#surname").val() +
            '&phone_number=' + $("#phone_number").val() +
            '&address=' + $("#address").val() +
            '&email=' + $("#email").val();
        $.ajax({
            url: "update_user",
            type: "POST",
            data: data,
            success: function (response){
                if(response == 'success'){
                    new Toast({
                        title: 'Message',
                        text: 'Successfully saved',
                        theme: 'light',
                        autohide: true,
                        interval: 10000
                    });
                }
            },
            error:function (error){
                console.log("error: " + error);
            }
        })
    }
</script>
<style>
    body {
        background: #f8f9fa;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #829fc9;
    }

    .profile-button {
        background: #1e4d7c;
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #5a80a6;
    }

    .profile-button:focus {
        background: #8cc2fc;
        box-shadow: none
    }

    .profile-button:active {
        background: #8db5e3;
        box-shadow: none
    }

    .back:hover {
        color: #7ca5ce;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #4980bb;
        color: #3d4f6e;
        cursor: pointer;
        border: solid 1px #f8f9fa
    }
</style>